<div class='head'>
            {%if 'username' not in session %}
			<a href="{{url_for('showLogin')}}">Click Here to Login </a>
			{% else %}
			<a href="{{url_for('disconnect')}}">Logout </a>
			{% endif %}
            <div class = 'flash'>
                      {% with messages = get_flashed_messages() %}
                        {% if messages %}

                        <ul>
                        {% for message in messages %}
                            <li> <strong> {{ message }} </strong> </li>
                         {% endfor %}
                        </ul>
                        {% endif %}
                    {% endwith %}

            </div>
</div>